<div>
  <h1>{{ results }}</h1>
  <button type="button" ng-click="getUsers">get Users</button>
  <br /><br />
  <form type="submit">
    <div>
      <label for="firstname">First Name</label>
      <input type="text" />
    </div>
    <div>
      <label for="lastname">Last Name</label>
      <input type="text" />
    </div>
    <div>
      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" />
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="number" />
    </div>
    <div>
      <label for="Password">Password</label>
      <input type="password" />
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" />
    </div>
  </form>
  <button type="submit" ng-click="addUser()">Add User</button>
  <br /><br />
  <form type="submit">
    <div>
      <label for="id">User ID</label>
      <input type="text" />
    </div>
    <div>
      <label for="firstname">First Name</label>
      <input type="text" />
    </div>
    <div>
      <label for="lastname">Last Name</label>
      <input type="text" />
    </div>
    <div>
      <label for="gender">Gender</label>
      <select name="gender" id="gender">
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" />
    </div>
    <div>
      <label for="phone">Phone</label>
      <input type="number" />
    </div>
    <div>
      <label for="Password">Password</label>
      <input type="password" />
    </div>
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" />
    </div>
  </form>
  <button type="submit" ng-click="updateUser()">Update User</button>
  <br /><br />
  <div>
    <label for="id">User ID</label>
    <input type="text" />
  </div>
  <button type="button" ng-click="deleteUser">Delete User</button>
</div>
